*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono;
}

body{
    background: #2c2c2c;
    color: #fff;
}


html{
    font-size: 16px;
}


.contenedor{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator styles */
.calculator{
    padding: 2rem;
    width: 450px;  
    border-radius: 1rem;
}

.usuarios{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.usuarios button{
    background: #ff9900 ;
    font-weight: 700;
}

button#users{
    display: inline;
}


p#pantalla{
    border-radius: .5rem;
    margin: 2rem auto;
    width: 100%;
    text-align: left;
    vertical-align: center;
    padding: 1rem .5rem;
    height: 3rem;
    vertical-align: middle;
    background: gray;
}


.calculator-body{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: repeat(5, 1fr);
}


button{
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 50%;
    transition: .5s;
}

button:hover{
    opacity: .6;
}

.operacion{
    background: #ff9900;
    color: #2c2c2c;
    font-weight: bold;
}

::selection{
    background: #ff9900;
    color: #000;
    cursor: pointer;
}

#igual {
    background-color: black;
    color: #ff9900;
    border: none;
    font-size: 2rem;
}

#limpiar {
    background-color: black;
    color: #ff9900;
    font-weight: bolder;
    border: none;
}

#users{
    border-radius: .6rem;
}